<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - OdinBox</title>
  </head>
  <body>
    <h1>Welcome back</h1>

    <p>Here you can manage your files and folders. Select an option below:</p>

    <ul>
      <li><a href="/storage/create-folder">Create a new folder</a></li>
      <li><a href="/storage/upload-file">Upload a new file</a></li>
    </ul>

    <p><a href="/log-out">Log Out</a></p>
  </body>
</html>
