<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="header wrapper">
        <div>
          <div class="logo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="36px"
              viewBox="0 -960 960 960"
              width="36px"
              fill="#f9d84b"
            >
              <path
                d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H260Zm0-80h480q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41Zm220-240Z"
              />
            </svg>
          </div>
          <a href="/">OdinBox</a>
        </div>
      </div>
    </header>
    <div class="logsign">
      <h1>Sign Up</h1>
      <% if (payload && payload.errors) { %>
      <div style="color: red">
        <% if (payload.errors.username) { %>
        <p><%= payload.errors.username %></p>
        <% } %>
      </div>
      <% } %>
      <form method="POST" action="/sign-up">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= payload ? payload.formData.username : '' %>"
          required
        />
        <br />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <br />
        <button type="submit">Sign Up</button>
      </form>
      <p>Already have an account? <a href="/log-in">Log In</a></p>
    </div>
  </body>
</html>
