@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

* {
  font-family: "Source Sans Pro";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  all: unset;
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #26262665;
  padding: 2px 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  background: transparent;
}

button:hover:not(.toggle-btn) {
  background: #2626262f;
  border: 1px solid transparent;
}

body {
  background-color: ivory;
}

.wrapper {
  margin: auto;
}

header {
  position: sticky;
  top: 0;
}

.separator {
  height: 24px;
  border-bottom: 1px solid lightgray;
  background-color: ivory;
}

.header {
  padding-inline: 24px;
  background-color: #262626;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div,
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  > div {
    gap: 15px;
  }
  nav ul {
    gap: 30px;
  }
  a:hover {
    color: #f9d84b;
  }
}

.page {
  display: flex;
}

aside {
  position: sticky;
  top: 94px;
  height: calc(100vh - 94px);
  width: 300px;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding-block: 12px;
  > div {
    padding: 6px 12px;
  }
  > div:nth-child(4) {
    margin-bottom: auto;
  }
  > div:hover:not(div:nth-child(3)) {
    background: linear-gradient(90deg, #f9d84b 0%, ivory 90%);
  }
}
.map:hover {
  background: transparent !important;
}

.path {
  margin-block: auto;
}

main {
  flex: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 12px;
}

.bottom {
  padding: 12px;
}

.new {
  display: flex;
  gap: 24px;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  gap: 12px;
  padding-block: 8px;
  div {
    justify-items: center;
  }
}

.first {
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 12px;
  min-width: 100px;
}

.first:first-of-type {
  margin-left: 0 !important;
  padding-left: 24px;
}

.content > div:nth-child(4n + 1) {
  margin-left: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.content > div:nth-child(4n + 2),
.content > div:nth-child(4n + 3),
.content > div:nth-child(4n + 4) {
  text-align: center;
  justify-content: center;
}

.content a:hover {
  color: rgb(1, 62, 177);
}

.content div:has(a:hover) {
  svg {
    fill: rgb(1, 62, 177);
  }
}

.content > div:nth-child(4n + 4) {
  display: flex;
  align-items: center;
  gap: 8px;
}

li ul {
  margin-left: 20px;
}

dialog {
  margin: auto;
  border: none;
  border-radius: 12px;
}

dialog form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
dialog::backdrop {
  backdrop-filter: blur(2px);
}
dialog > div {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
/**/
.map .tree {
  margin-left: 12px;
}

.folder-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.toggle-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.folder-icon {
  width: 24px;
  height: 24px;
}

.folder-icon.expanded {
  display: none;
}

.folder-content.collapsed {
  display: none;
}

.toggle-btn.active .folder-icon.collapsed {
  display: none;
}

.toggle-btn.active .folder-icon.expanded {
  display: block;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.file-icon {
  width: 24px;
  height: 24px;
}
